<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
</head>

<body>
    {{{ body }}}
</body>

</html>