html {
  font-family: "Overpass", sans-serif;
}
header {
  background-color: darkslategray;
  background-image: url(./background.png);
  color: white;
  text-align: center;
  padding: 80px;
  text-shadow: 1px 1px black;
}
header button {
  background: rgba(47, 79, 79, 0.603);
}
button {
  background: #000000ad;
  color: white;
  border: 2px solid #00000078;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}
button.saved-false {
  background: #000000ad;
}
button.saved-true {
  background: #43acff;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
.article-title {
  margin: 0px;
}
.button-bar {
  margin: 10px;
}
.container {
  width: 1070px;
  margin: 0 auto;
}
.article {
  background-color: #8080807a;
  padding: 10px;
  margin: 8px;
}
.articles-div {
  width: 70%;
  float: left;
}
.input-div {
  width: 30%;
  float: right;
  margin-bottom: 40px;
}
form {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.comment-text {
  width: 98%;
  font: 400 13.3333px Arial;
  font-size: 16px;
}
.comment-title {
  width: 266px;
}
.comments-div {
  float: right;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
}
.note-div {
  background-color: lightblue;
  margin-bottom: 5px;
}
.note-header {
  background-color: lightgray;
  padding: 5px;
}
.note-title {
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
}
.note-created {
  font-size: 11px;
  font-style: italic;
}
.note-body {
  padding: 5px;
}
.note-options-div {
  float: right;
  width: 18px;
}
.note-options-div {
  border-radius: 2px;
  height: 18px;
  text-align: center;
  display: inline-block;
  width: 18px;
  background-color: #000000c9;
  color: white;
  text-decoration: none;
}
.note-options-div:hover {
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
